<!doctype html>
<html>
	<head>
		<title>Meadowlark Travel</title>
	</head>
	<body>
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
		{{!- 内容中有标签用三对括号 --}}
		{{{body}}}
	</body>
</html>